*.dvi
*.bak
*.bcf
*.log
*.aux
*.bbl
*.blg
*.gz
*-blx.bib
*.out
*.rel
*.bst
*.nav
*.toc
*.vrb
*.snm
*.run.xml

Fribbles
experiment/*.pyc
experiment/.jshintrc
experiment/server.log
experiment/node_modules
experiment/participants.db
experiment/.psiturk_history
